<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The_Muslim_toolbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/favicon.png' | relative_url }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <!-- Your CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <main class="markdown-body">
      {{ content }}
    </main>
  </body>
</html>
